body {
  background-color: #000000;
  color: #e0e0e0;
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  color: #FFCF9242;
}

a {
  color: #4caf50;
  word-break: break-word;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 0.5rem;
  }
}

button, .button {
  background-color: #4CAF50; /* Зеленый фон */
  color: white; /* Белый текст */
  padding: 10px 20px; /* Отступы */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Курсор при наведении */
  text-align: center;
  text-decoration: none; /* Убирает подчеркивание для ссылок */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s; /* Плавное изменение цвета */
}

button:hover, .button:hover {
  background-color: #45a049; /* Темнее при наведении */
}
